h1 {
    background-color: #007bb8;
    color: white;
    padding: 16px;
    padding-top: 90px;
    margin-bottom: 4px;
}
h1 > span.series {
    font-size: 20px;
    display: block;
}
.metadata {
    display: none;
}
.content p:empty {
    display: none;
}

nav.series {
    display: flex;
    width: calc(100% - 12px);
    margin: 0 auto;
    margin-top: -12px;
}
nav.series a {
    flex-basis: 100%;
}
nav.series .next {
    text-align: right;
}
nav.series .prev {
    text-align: left;
}

nav.categories {
    display: flex;
    margin: 0 auto;
    margin-bottom: -12px;
}
nav.categories a {
    margin-right: 8px;
}
nav.categories a img {
    width: 48px;
}

.pnp .frontmatter {
    margin-bottom: 12px;
}
.pnp p {
    display: inline-block !important;
}
.panel {
    display: flex;
    flex-wrap: wrap;
}
.panel li {
    list-style-type: none;
}
.pnp #featured>li {
    flex: 0 1 33%;
}
.pnp #featured>li img {
    max-width: 260px;
    /* This is a hack I added because I couldn't get the <li/> to shrink down to 33% in Edge */
}
@media all and (max-width: 800px) {
    .pnp #featured>li {
        flex: 0 1 100%;
    }
}
.panel.secondary li {
    flex: 0 1 50%;
}
.panel {
    margin-bottom: 0;
}
.pnp hr {
    margin: 16px 0 32px 0;
}

#categories>li {
    flex: 0 1 100%;
    margin-left: 0 !important;
    margin-bottom: 18px !important;
    list-style-type: none;
}
#categories>li a{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}
#categories>li a img {
    margin-right: 12px;
    max-width: 64px;
}
@media all and (max-width: 800px) {
    #categories>li a img {
        max-width: 32px;
    }
}
#categories>li a .cardText h3 {
    color: rgb(34,34,34);
    margin-top: 0;
}
#categories>li a .cardText p {
    font-size: 1rem;
    margin: 10px 0 0;
    font-size: .9375rem;
    line-height: 1.33;
    color: #6e6e6e;
    padding: 0;
}
#categories>li a .cardText h3 {
    font-size: 1.188rem;
    margin: 0;
    line-height: 1.125;
    color: #222;
}

.panel li {
    list-style-type: none;
    flex: 0 1 33%;
}
.panel.x2 li {
    flex-basis: 50%;
}
.panel.x3 li {
    flex-basis: 33%;
}
.panel.x4 li {
    flex-basis: 25%;
}
.panel .cardsD .cardSize {
    min-width: 240px !important;
}

section.series h2 {
    margin-top: 0;
}
section.series .panel{
    margin-bottom: -24px;
}
section.series .links {
    text-align: right;
    margin-bottom: 24px;
}